<div class="new-restaurant">
  <form action="/restaurants#new" method="post">
    <ul>
      <li>
        <label for="name">Name:</label>
        <input type="text" id="name" name="user_name">
      </li>
      <li>
        <label for="address">Adress:</label>
        <input type="address" id="address" name="user_address">
      </li>
      <li class="button">
        <button type="submit">Create your restaurant</button>
      </li>
    </ul>
  </form>
</div>
